* {
    box-sizing: border-box;
  }

  :root{
    --header: #666;
    --nav:#ccc;
    --article:white;
    --footer:#777;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  header {
    display: flex; 
    background-color: var(--header);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  nav {
    float: left;
    width: 30%;
    height: 400px; 
    background-color: var(--nav);
    padding: 20px;
    text-align: right;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  article {
    float: left;
    padding: 20px;
    width: 70%;
    height: 400px; 
    text-align: right;
    background-color: var(--article); 

  }
  
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  footer {
    background-color: var(--footer);
    padding: 10px;
    text-align: center;
    color: white;
  }
  img{
      object-fit: contain;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; 
      float: right;
      opacity: 0.5;
  }
  img:hover{
    opacity: 0.1;
  }
  h3{
      -webkit-flex: 3;
      -ms-flex: 3;
      flex: 3;
  }
  a:link, a:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    min-width: 150px;
  }
  a:hover, a:active {
    background-color: green;
    color: white;
  }
  
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
    header{
      -webkit-flex-direction: column;
      flex-direction: column;
    }
  }