h1{
    font-size: 25px;
    color: blue;
}
[title~="iscosoft"] {
  border: 5px solid yellow;
}
[title~="google"] {
  border: 5px solid blue;
}
[title~="microsoft"] {
  border: 5px solid red;
}
img{
    width:300px;
    height:150px;
    object-fit: contain;
    
}
div > p {
  background-color: green;
  color: white;
  width: 50%;
}